body {
	margin-left: 10%;
	margin-right: 10%;
	color: #111;
	background-color: white;
	font-family: Verdana, Calibri, sans-serif;
        font-size: 12px;
}
pre {
    font-family: Consolas, Liberation Mono, DejaVu Sans Mono, monospace;
    font-size:smaller;
}
h1 { color : #b70101; 
  background-color: #f7f5e8;
}
h2 {
    text-size : 2em;
    font-weight : bold;
    color : #b70101;
    padding : 0pt;
    background-color: #f7f5e8;
}
h3 {
    text-size : 1em;
    color: #b70101;
}
h4 {
    text-size: 1em
    font-style: italic;
    color: #b70101;
    margin-bottom : 0;
    margin-top : 5px;
}
a, a:visited {color: #008000; }
a:link {color: #00a0a0; }
a:hover {
    background-color: #e7d9c1;
    text-decoration: underline;
    }
b {text-weight : bold;}
i {font-style : italic;}


